@using Clayton.LojaVirtual.Web.V2.Models;
@using Clayton.LojaVirtual.Web.V2.HtmlHelpers;


@model CategoriaSubGruposViewModel


@foreach (var item in Model.SubGrupos)
{
    <li>
        @Html.ActionLink(@item.SubGrupoDescricao, "ObterCategoriaSubGrupos",
        new
        {
            categoriaCodigo = @Model.Categoria.CategoriaCodigo,
            subGrupoCodigo = @item.SubGrupoCodigo,
            subGrupoDescricao = @item.SubGrupoDescricao.ToSeoUrl()
        })
    </li>
}
