@model Clayton.LojaVirtual.Dominio.Entidade.Produto
@using System.Text.RegularExpressions;

<div class="well">
    <div class="row">
        <div class="col-md-3">
            @if (Model.Imagem != null)
            {
                <img class="img-thumbnail" width="150" height="150" src="@Url.Action("ObterImagem", "Vitrine", new { Model.ProdutoId })" />
            }
            else
            {
                <img class="img-thumbnail" width="150" height="150" src="~/Content/Imagens/sem-magem.png" />
            }
        </div>
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-9">
                    <h4 class="pull-left" style="margin:0 0 10px 0; width:100%;"><strong>@Model.Nome</strong></h4>
                    <h3 class="pull-left" style="margin:0 0 10px 0;"><span class="label label-primary">@Model.Preco.ToString("c")</span></h3>
                </div>
                <div class="col-md-3">

                    @using (Html.BeginForm("Adicionar", "Carrinho"))
                    {
                        <div>
                            @Html.HiddenFor(x => x.ProdutoId)
                            @Html.Hidden("returnUrl", Request.Url.PathAndQuery)

                            <button class="btn btn-success btn-block" type="submit">
                                <i class="fa fa-shopping-cart">&nbsp;</i>Comprar
                            </button>
                        </div>
                    }
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p class="text-justify">@Html.Raw(Regex.Replace(Model.Descricao, @"\r\n?|\n", "<br />"))</p>
                </div>
            </div>
        </div>
    </div>

    @*@if (Model.Imagem != null)
        {
            <div class="pull-left" style="margin-right:10px">
                <img class="img-thumbnail" width="120" height="120" src="@Url.Action("ObterImagem", "Vitrine", new { Model.ProdutoId })" />
            </div>
        }
        <h3><strong>@Model.Nome</strong></h3>
        <h3><span class="pull-right label label-primary">@Model.Preco.ToString("c")</span></h3>
        @using (Html.BeginForm("Adicionar", "Carrinho"))
        {
            <div class="pull-right">
                @Html.HiddenFor(x => x.ProdutoId)
                @Html.Hidden("returnUrl",Request.Url.PathAndQuery)
                <input type="submit" class="btn btn-success" value="Comprar" />
            </div>
        }
        <h3><span class="lead">@Model.Descricao</span></h3>*@
</div>

